@import "tailwindcss";
@plugin "daisyui";

.box {
  width: 100%;
  max-width: 480px;
  background: #202936;
  border-radius: 16px;
  padding: 24px;
  margin: 0px auto;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}